<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <%- include('partials/header') %>

    <form action="/signup" method="POST" class="auth-form">
      <h2>Sign Up</h2>

      <% if (error) { %>
        <p class="error-msg"><%= error %></p>
      <% } %>

      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Choose a username"
        required
        autocomplete="off"
      />

      <label for="password" style="margin-top: 15px;">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Choose a password"
        required
      />

      <button type="submit" class="btn edit" style="width: 100%; margin-top: 25px;">
        Sign Up
      </button>
    </form>

    <p style="margin-top: 15px;">
      Already have an account? <a href="/login">Login here</a>.
    </p>

    <%- include('partials/footer') %>
  </div>
</body>
</html>
